$black: #1b1b1b;

@mixin hideElement {
  display: none;
  visibility: hidden;
}

@mixin showElement {
  display: initial;
  visibility: visible;
}

%flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainWrapper {
  background-color:#fcfaf8;
  display: flex;
  flex-direction: column;
  padding: 8.75rem 6.25rem 6.5rem 6.25rem;
  z-index: 100;
  position: relative;
}

.idea {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-end;
  text-align: center;
  box-sizing: border-box;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;

  .title {
    color: $black;
    font-size: 2.5rem;
    padding-bottom: 25px;
    font-weight: 700;
  }

  .description {
    color: $black;
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 50px;
    word-wrap: break-word;
  }

  .videoWrapper {
    width: 100%;
  }

  .video {
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1500px) {
  .video {
    height: 607.5px;
    width: 1080px;
  }
}

@media screen and (max-width: 1499px) {
  .mainWrapper {
    padding: 8.75rem 5rem 6.5rem 5rem;
  }

  .video {
    width: 800px;
  }
}

@media screen and (max-width: 1199px) {
  .idea {
    .title {
      font-size: 2.7rem;
    }
    .description {
      font-size: 1.6rem;
    }
  }
}
@media screen and (max-width: 1023px) {
  .mainWrapper {
    padding: 5rem 1.25rem 4rem 1.25rem;
  }

  .description {
    width: 90%;
  }
}

@media screen and (max-width: 899px) {
  .idea {
    .title {
      font-size: 2.4rem;
    }
    .description {
      font-size: 1.4rem;
      width: 85%;
    }
  }

  .videoWrapper {
    height: inherit;

    .video {
      height: 360px;
    }
  }

}

@media screen and (max-width: 639px) {

  .idea {
    .title {
      font-size: 1.9rem;
    }
    .description {
      padding-bottom: 1rem;
    }
  }

  .videoWrapper {
    .video {
      height: calc(100vw/16*9);
    }
  }
}