$font-color: #fff;

@mixin hideElement {
  display: none;
  visibility: hidden;
}

@mixin showElement {
  display: initial;
  visibility: visible;
}

@mixin logoWrapper {
  flex: 1;
  justify-content: flex-start;
  display: flex;
}

@mixin compensateLogo {
  height: auto;
  width: 9.5625rem;
}

@mixin headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $font-color;
  width: auto;
}

@mixin navigationItem {
  padding: 0rem 1.1rem;
  cursor: pointer;
  font-feature-settings: "ss01" 1,"ss02" 1;
  border-style: none;
  color: #1b1b1b;
  text-decoration: none;
  font-family: CircularStd,sans-serif;
}

%flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  background: url('../../assets/Main.png') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.navigationWrapper {

  @include headerWrapper;

  .mainNavigation {
    @extend %flexRowCenter;
    flex: 5;
  }

  .profileNavigation {
    @extend %flexRowCenter;
    flex: 1;
  }

  .navigationItem {
    @include navigationItem;
    color: $font-color;
    font-size: 1.1rem;
  }
}

.logoWrapper {
  @include logoWrapper;

  .compensateLogo {
    @include compensateLogo;
  }
}

.content {
  align-self: center;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-end;
  text-align: center;
  box-sizing: border-box;
  min-height: 25rem;
  height: 80vh;
  width: 1080px;
  margin: auto;

  .title {
    color: $font-color;
    font-size: 5rem;
    padding-bottom: 25px;
    font-weight: 700;
  }

  .subtitle {
    color: $font-color;
    font-size: 1.5rem;
    padding-bottom: 50px;
  }

  .calculateButton {
    color: $font-color;
    line-height: 1.5;
    font-size: 0.9rem;
    font-family: CircularStd,sans-serif;
    font-weight: 700;
    border: 2px solid #288c96;
    border-radius: 2.5rem;
    padding: 1rem 1.875rem;
    text-decoration: none;
    min-width: 12.5rem;
    box-sizing: border-box;
    cursor: pointer;
    background: #288c96;
    display: inline-block;
  }
}

.footer {
  color: $font-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
  margin-bottom: 3rem;

  .arrow {
    margin-top: 1rem;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1499px) {
  .content {
    
  
    .title {
      font-size: 3.75rem;
    }
  
    .subtitle {
      font-size: 1.48rem;
    }
  
    .calculateButton {
      font-size: 0.89rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .navigationWrapper {
    padding: 1.875rem 2.5rem;
  }

  .navigationBarsWrapper {
    @include hideElement;
  }
}

@media screen and (max-width: 1199px) {

  .content {
    width: 80%;

    .subtitle {
      max-width: 80%;
    }
  }

  %iconButton {
    background-color: transparent;
    color: $font-color;
    border: none;
    padding: .625rem;
    font-size: 16px;
    cursor: pointer;
  }

  %icon {
    font-size: 1.5em;
  }

  .navigationWrapper {
    padding: 1.875rem 1.25rem;

    .mainNavigation {
      @include hideElement;
    }
  
    .profileNavigation{
      @include hideElement;
    }
  
    .navigationBarsWrapper {
      flex: 1;
      justify-content: flex-end;
      display: flex;
    }

    .iconButton {
      @extend %iconButton;
    }
  
    .navigationBars {
      @extend %icon;
    }
  }

  .navigationModalWrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    z-index: 2000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f0f2f2;

    .modalHeaderWrapper {
      @include headerWrapper;
      padding: 1.875rem 1.25rem 0;

      .iconButton {
        @extend %iconButton;
      }

      .cross {
        font-size: 2em;
        color: black;
      }
    }

    %navigationWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .mainModalNavigation {
      @extend %navigationWrapper;
      padding: 2.125rem 3.125rem 1.75rem;

      .navigationItem:last-child {
        border-bottom: 1px solid #ddd;
        padding-bottom: 2.5rem;
      }
    }

    .profileModalNavigation{
      @extend %navigationWrapper;
      padding: 0 3.125rem 1.5625rem;

      .navigationItem:first-child{
        padding-top: 0;
      }
    }

    .navigationItem {
      @extend %navigationWrapper;
      @include navigationItem;
      line-height: 1.5;
      padding: .75rem 0;
      font-weight: 400;
      font-size: 1.4rem;
      width: 100%;
    }

  }

  .logoWrapper {
    @include logoWrapper;
    
    .compensateLogo {
      @include compensateLogo;
    }
  }
}

@media screen and (max-width: 899px) {
  .logoWrapper {
    @include logoWrapper;
    
    .compensateLogo {
      width: 6.375rem;
    }
  }

  .content {
    .title {
      font-size: 2.4rem;
    }
  }
}