$font-color: #fff;

.main {
  background: url('../assets/Main.png') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  align-self: center;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-end;
  text-align: center;
  box-sizing: border-box;
  min-height: 25rem;
  height: 80vh;
  width: 1080px;
  margin: auto;

  .title {
    color: $font-color;
    font-size: 4em;
    padding-bottom: 25px;
  }

  .subtitle {
    color: $font-color;
    font-size: 1.5em;
    padding-bottom: 50px;
  }

  .calculateButton {
    color: $font-color;
    line-height: 1.5;
    font-size: 0.9em;
    font-family: CircularStd,sans-serif;
    font-weight: 700;
    border: 2px solid #288c96;
    border-radius: 2.5rem;
    padding: 1rem 1.875rem;
    text-decoration: none;
    min-width: 12.5rem;
    box-sizing: border-box;
    cursor: pointer;
    background: #288c96;
    display: inline-block;
  }
}

.footer {
  color: $font-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
  margin-bottom: 3rem;

  .arrow {
    margin-top: 1rem;
    font-size: 1.5em;
  }
}