body {
  background-color: #fcfaf8;
  margin: 0;
  overflow-x: hidden;
  font-family: CircularStd,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
